<launch>
  <arg name="model" default="$(find wheelchair_model)/urdf/wheelchair.urdf.xacro" />

  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find deepbot)/worlds/env03.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>  

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
  <!--arg name="rvizconfig" default="$(find wheelchair_model)/config/wheelchair_urdf.rviz" /-->

  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
          args="-urdf
                -model robot_description
                -x $(arg x_pos) 
                -y $(arg y_pos) 
                -z $(arg z_pos)
                -param robot_description" />

  <!-- send fake joint values -->
  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node-->

  <!-- start robot state publisher -->
  <!--node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" respawn="false" output="screen" /-->

  <!--param name="use_gui" value="false"/-->
  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /-->

</launch>

